
#search-wrapper {
    display: flex;
    justify-content: center;

    h1 {
        color: #525252;
    }

    #search-bar {
        height: 28px;
        width: 30%;
        min-width: 280px;
        padding: 2px 10px;
    }
    
    #button-wrapper {
        height: 34px;
        width: 50px;
        background-color: white;
        border: solid 1px gray;
        cursor: pointer;
        
        #search-button {
            padding: 3px;
            height: 28px;
            filter: invert(54%) sepia(90%) saturate(3847%) hue-rotate(191deg) brightness(101%) contrast(101%);
        }
    }
}
